{{!-- dashboard page --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Dashboard</h1>
            <p>Welcome to your dashboard, {{username}}!</p>
            <p>Here you can view your profile, create a new post, or view your posts.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create Post</h5>
                    <a href="/dashboard/new" class="btn btn-primary">Create Post</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Your Posts</h2>
            {{#if posts}}
            {{#each posts}}
            {{> post}}
            {{/each}}
            {{else}}
            <p>You have not created any posts yet.</p>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>
